.Modal {
  display: flex;

  .overlay {
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  i {
    display: flex;
    font-size: 1.5rem;
    color: navy;
    justify-self: flex-end;
  }

  .form {
    position: fixed;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
